#ChromTrisBackground {
    position: absolute;
    background: #ddd;
    width: 284px;
    height: 480px;
    top: 40px;
    left: 40px;
}

#ChromTrisCanvas ,
#ChromTrisOverlay {
    position: absolute;
    top: 30px;
    left: 30px;
}

#ChromTrisConsole {
    position: absolute;
    left: 400px;
    top: 30px;
    
    display: block;
    float: left;
    background: #eee;
    
    width: 200px;
    height: 500px;
    
    margin: 20px;
    padding: 10px;
}